body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#startGameBtn {
    background-color: greenyellow;
    border: 1px solid black;
    border-radius: 4px;

    align-items: center;

    font-size: 32px;
    padding: 12px 32px;
}

.hidden {
    display: none;
}