body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(216, 231, 147);
}

.gameContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#startGameBtn {
    background-color: rgb(132, 197, 35);
    border: 1px solid black;
    border-radius: 4px;

    align-items: center;

    font-size: 32px;
    padding: 12px 32px;
}

#resetBtn {
    background-color: rgb(197, 35, 35);
    border: 1px solid black;
    border-radius: 4px;

    align-items: center;

    font-size: 26px;
    padding: 8px 24px;
    color: white;
}

#resetBtn:active {
    background-color: rgb(197, 61, 61);

}


#startGameBtn:hover {
    background-color: rgb(172, 255, 47);

}
.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    height: 300px;
    margin: 12px;
}

.grid{
    display: flex;
    height: 100px;
    width: 100px;
    
    align-items: center;
    justify-content: center;

    font-size: 48px;
}

.top, .mid {
    border-bottom: 2px dashed black;
}

.left, .center {
    border-right: 2px dashed black;
}


.hidden {
    display: none;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 38px;
}